<!DOCTYPE html>
<html>

<head>
    {{ cookie_banner|safe }}
    <script src="https://cdn.tailwindcss.com"></script>
    <title>sc-explorer</title>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous">
        </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body class="bg-zinc-950 text-neutral-50">
    <center>
        <div class="flex h-screen">
            <div class="m-auto">
                <a href="">
                    <img src="/static/logo.png" alt="logo" />
                </a>
                <a href="/cookie-declaration" target="_blank" class="text-xs underline">(cookie declaration)</a><br><br>
                <p id="explanation" class="break-normal max-w-xl text-slate-50">Insert a soundcloud playlist url and start exploring! You will listen the most commented 10 seconds of each song and decide if you want them in the playlist or not. You may stop exploring and create the playlist at any time!</p>
                <table width="100%">
                    <tr>
                        <td width="30%" style="text-align:right"><button
                                class="mr-2 border-neutral-100 rounded-md border-solid border-2 disabled:opacity-50 text-red-600 border-red-600"
                                style="display:none;height:166px;width:200px" id="skip" onclick="skip();">Skip</button></td>
                        <td width="40%"><iframe id="sc-widget" style="display: none" width="100%" height="166px"
                                scrolling="no" frameborder="no"
                                src="https://w.soundcloud.com/player/?url=https://soundcloud.com/sc-explorer/sets/top-50-dance-edm?auto_play=false&color=2272ff"></iframe>
                        </td>
                        <td width="30%" style="text-align:left"><button
                                class="ml-2 border-neutral-100 rounded-md border-solid border-2 disabled:opacity-50 text-green-400"
                                style="display:none;height:166px;width:200px;border-color:rgb(74 222 128);" id="add" onclick="add();">Add
                                to playlist</button></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:center"><button
                                class="mt-2 border-neutral-100 rounded-md border-solid border-2 disabled:opacity-50"
                                style="display:none;height:70px;width:35%" onclick="createPlaylist()" id="create"
                                disabled>Create playlist</button></td>
                    </tr>
                </table>
                <br><br>
                <input class="rounded-xl w-7/12 placeholder:text-slate-500 bg-white py-2 pl-3 pr-3 text-slate-950"
                    placeholder="Playlist URL..." type="text" id="playlist_url" />
                <br><br>
                <button id="beginExploring" class="border-neutral-100 p-2 rounded-xl border-solid border-2"
                    onclick="beginExploring()">Begin exploring</button>
        <form method="POST" id="form" action="/add_songs_to_playlist">
            <div id="captcha" class="g-recaptcha" data-sitekey="{{website_key}}" data-callback="enableCreate" hidden>
            </div>
            <input id="liked_songs" type="hidden" name="songs" value="">
        </form>

    </center>
    </div>
    </div>
    <center>
            </center>
    <script type="text/javascript">
        document.getElementById('create').disabled = true;
        var creatingPlaylist = false;
        var widgetIframe = document.getElementById('sc-widget');
        var widget = SC.Widget(widgetIframe);
        var liked_songs = [];

        function enableCreate() {
            document.getElementById('liked_songs').value = JSON.stringify(liked_songs);
            document.getElementById('form').submit();
        }
        function createPlaylist() {
            widget.pause();
            creatingPlaylist = true;
            document.getElementById('captcha').style.display = 'inline-block';
            document.getElementById('create').disabled = true;
            document.getElementById('create').innerHTML = 'Please, complete the captcha to continue';
        }
        var sound_array = null;
        var songIndex = -1;
        const buttons = [document.getElementById('skip'), document.getElementById('add')];

        function disableButtons() {
            buttons[0].disabled = true;
            buttons[1].disabled = true;
        }
        function playNextSong() {
            songIndex++;
            if (songIndex >= sound_array.length) {
                alert('You listened to every song in this playlist! Create your playlist or start over again');
                return;
            }
            let i = songIndex;
            let r = $.ajax({
                type: 'POST',
                url: '/most_commented_window_position',
                data: { song_id: sound_array[i].id },
                async: true,
                success: () => {
                    let window_position = r.responseJSON.position;
                    if (window_position == -1) {
                        console.log('There was an error locating the most commented 10 seconds... Defaulting to 0');
                        window_position = 0;
                    }
                    widget.skip(i);
                    widget.seekTo(window_position);
                    widget.play();
                    waitTenSeconds();
                },
                error: () => {
                    console.log('server error');
                    widget.skip(i);
                    widget.seekTo(0);
                    widget.play();
                    waitTenSeconds();
                }
            });
        }

        async function waitTenSeconds() {
            await new Promise(r => setTimeout(r, 10000));
            if (!creatingPlaylist)
                buttons.forEach((b) => b.disabled = false);
            widget.pause();
        }

        function add() {
            disableButtons();
            liked_songs.push(sound_array[songIndex].id);
            document.getElementById('create').disabled = false;
            playNextSong();
        }

        function skip() {
            disableButtons();
            playNextSong();
        }

        function beginExploring() {
            document.getElementById('beginExploring').disabled = true;
            playlist_url = document.getElementById('playlist_url').value;
            if (playlist_url.startsWith('https://m.')) {
                playlist_url = playlist_url.replace('https://m.', 'https://')
            }
            if (playlist_url.includes('sets/personalized-tracks::')) {
                alert("Can't explore a personalized tracks playlist! Those kind of playlists are private to your account, we can't access them");
                document.getElementById('beginExploring').disabled = false;
                return;
            }
            if (playlist_url.includes('discover/sets/charts-top:')) {
                let r = $.ajax({
                    type: 'POST',
                    url: '/chart_to_playlist',
                    data: { url: playlist_url },
                    async: false,
                    success: () => { }
                });
                if (r.status != 200 || !r.responseJSON.success) {
                    alert("You provided an invalid system playlist");
                    document.getElementById('beginExploring').disabled = false;
                    return;
                }
                playlist_url = r.responseJSON.url
            }
            widget.load(playlist_url);

            document.getElementById('playlist_url').style.display = 'none';
            document.getElementById('beginExploring').style.display = 'none';
            document.getElementById('skip').style.display = 'inline-block';
            document.getElementById('add').style.display = 'inline-block';
            document.getElementById('create').style.display = 'inline-block';
            widgetIframe.style.display = 'block';
            widget.bind(SC.Widget.Events.READY, function () {
                widget.getSounds(async function (sa) {
                    disableButtons();
                    sound_array = sa;
                    playNextSong();
                }
            )});
        }
    </script>
    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>

</body>

</html>
