<!DOCTYPE html>
<html>

<head>
    <title>sc-explorer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-950 text-neutral-50">
    <div class="flex h-screen">
        <div class="m-auto text-center">
            <a href="/">
                <img src="/static/logo.png" alt="logo" />
            </a>
            <a href="/cookie-declaration" target="_blank" class="text-xs underline">(cookie declaration)</a>
            <br><br>
            <a href="{{ playlist_url }}" class="text-2xl decoration-solid underline text-zinc-200" >Click to open your newly generated playlist!</a>
        </div>
    </div>
</body>

</html>

